<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>SysGames</title>
    <style type="text/css">
        footer{
            position:absolute;
            bottom:25px;
            width:100%;
        }
        ul.nav-justified
        {
           position:absolute;
           left:40%;
        }
        a.color
        {
            text-decoration-color:silver;
            color:silver;
        }
    </style>
</head>
<body>
    <div class="body-wrap" style=" margin-top: 2%;">
        <div class="container">
            <nav style="padding-left:25%" class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"><img src="https://img.icons8.com/cotton/30/000000/controller.png" /></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Início</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ordens de serviço <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="">@Html.ActionLink("Lista de OS", "Index", "ordemServico")</li>
                                    <li class="">@Html.ActionLink("Cadastrar nova OS", "Create", "ordemServico")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="">@Html.ActionLink("Lista de clientes", "Index", "dadosCliente")</li>
                                    <li class="">@Html.ActionLink("Cadastro de cliente", "Create", "dadosCliente")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Carros <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="">@Html.ActionLink("Lista de carros", "Index", "cadastroCarro")</li>
                                    <li class="">@Html.ActionLink("Cadastro de carros", "Create", "cadastroCarro")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Materiais <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="">@Html.ActionLink("Lista de materiais em estoque", "Index", "estoqueMateriais")</li>
                                    <li class="">@Html.ActionLink("Cadastrar novo material", "Create", "estoqueMateriais")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Peças <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="">@Html.ActionLink("Lista de peças utilizadas", "Index", "catalogoPecas")</li>
                                    <li class="">@Html.ActionLink("Cadastrar nova peça", "Create", "catalogoPecas")</li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("LogOut", "Home")">Sair<span class="glyphicon glyphicon-log-out" style="padding-left: 5px;"></span></a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="main">
    </div>


    <div class="container body-content">
        @RenderBody()
        @RenderSection("scripts", required: false)

        <hr />
    </div>

    <footer>
        <hr>
            <div class="row">
                <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a class="color" href="#">© 2020 SysGames</a></li>
                            <li><a class="color" href="https://github.com/Nashzen/Gerenciamento-de-estoque">GitHub</a></li>
                        </ul>
                </div>
            </div>
        
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
