@model TCCnew.Models.Funcionario

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do funcionário portador do ID @Html.DisplayFor(x => x.Id)</h2>

<div>
    <h4>Funcionário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAtivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAtivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGerente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGerente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href='@Url.Action("Edit", "Funcionario")' class="btn btn-success">Editar</a> | <a href='@Url.Action("Index", "Funcionario")' class="btn btn-info">Voltar</a>
        </div>
    </div>
</p>
