@model IEnumerable<TCCnew.Models.Funcionario>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Funcionários";
}

<h2>Página de funcionários</h2>

<p>
    <a href='@Url.Action("Create", "Funcionario")' class="btn btn-success"><img src="https://img.icons8.com/material-outlined/15/000000/add-user-male.png" />Cadastrar novo funcionário</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            < Ordenar por >
        </th>
        <th>
            @Html.ActionLink("Data de criação", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm("Index", "Funcionario", FormMethod.Get))
    {
        <p>
            Procure por nome ou CPF: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Pesquisar" />
        </p>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAtivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGerente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAtivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGerente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a href='@Url.Action("Edit", "Funcionario", new { id = item.Id})' class="btn btn-success" style=""><img src="https://img.icons8.com/ios-filled/14/000000/pencil-tip.png" />Editar</a> |
                <a href='@Url.Action("Details", "Funcionario", new { id = item.Id})' class="btn btn-info" style=""><img src="https://img.icons8.com/material-outlined/14/000000/search.png" />Detalhes</a> |
                <a href='@Url.Action("Delete", "Funcionario", new { id = item.Id})' class="btn btn-danger" style=""><img src="https://img.icons8.com/material-outlined/14/000000/delete-trash.png" />Deletar</a>
            </td>
        </tr>
    }

</table>
</br>

