@model List<TCCnew.Models.Estoque>
@{
    ViewBag.Title = "RelatorioEstoqueView";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatório de funcionários</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="col-md-12 text-center">
        <img src="https://img.icons8.com/wired/96/000000/move-stock.png" />        
        <h3>RELATÓRIO DE ESTOQUE</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Qtd total em estoque</th>
                <th>Qtd disponível</th>
                <th>ID Jogo</th>
                @*<th>Nome do jogo</th>*@
            </tr>
        </thead>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.QuantidadeTotal</td>
                    <td>@item.QuantidadeDisponivel</td>
                    <td>@item.IdJogo</td>
                    @*<td>@item.Jogo</td>*@
                </tr>
            }
        }
    </table>
</body>
</html>