@model TCCnew.Models.Entrega

@{
    ViewBag.Title = "Details";
}

    <h2>Detalhes da entrega de ID @Html.DisplayFor(x => x.Id) <img src="https://img.icons8.com/material-outlined/40/000000/search.png" /></h2>

<div>
    <h4>Entrega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeEntregue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeEntregue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href='@Url.Action("Edit", "Entrega")' class="btn btn-success">Editar</a> | <a href='@Url.Action("Index", "Entrega")' class="btn btn-info">Voltar</a>
        </div>
    </div>
</p>
