@model IEnumerable<TCCnew.Models.Entrega>

@{
    ViewBag.Title = "Index";
}

<h2>Página de entregas</h2>

<p>
    <a href='@Url.Action("Create", "Entrega")' class="btn btn-success"><img src="https://img.icons8.com/material-outlined/15/000000/add-user-male.png" />Adicione uma nova entrega</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeEntregue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFornecedor)
        </th>
        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Nome do fornecedor</th>                    
                </tr>
                @foreach (var item in Model.Fornecedor)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeEntregue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdFornecedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            <a href='@Url.Action("Edit", "Entrega", new { id = item.Id})' class="btn btn-success" style=""><img src="https://img.icons8.com/ios-filled/14/000000/pencil-tip.png" />Editar</a> |
            <a href='@Url.Action("Details", "Entrega", new { id = item.Id})' class="btn btn-info" style=""><img src="https://img.icons8.com/material-outlined/14/000000/search.png" />Detalhes</a> |
            <a href='@Url.Action("Delete", "Entrega", new { id = item.Id})' class="btn btn-danger" style=""><img src="https://img.icons8.com/material-outlined/14/000000/delete-trash.png" />Deletar</a>
        </td>
    </tr>
}

</table>
