@model TCCnew.Models.Estoque

@{
    ViewBag.Title = "Delete";
}

<h3>Tem certeza que deseja deletar o estoque com o ID @Html.DisplayFor(x => x.Id)? <img src="https://img.icons8.com/material-outlined/40/000000/delete-trash.png" /></h3>
<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDisponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdJogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdJogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" /> |
            <a href='@Url.Action("Index", "Estoque")' class="btn btn-info">Voltar</a>
        </div>
    }
</div>
