@model TCCnew.Models.Estoque

@{
    ViewBag.Title = "Details";
}

    <h2>Detalhes do estoque de ID @Html.DisplayFor(x => x.Id) <img src="https://img.icons8.com/material-outlined/40/000000/search.png" /></h2>

<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDisponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdJogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdJogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Nome do jogo</th>
                </tr>
                @foreach (var item in Model.Jogo)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href='@Url.Action("Edit", "Estoque")' class="btn btn-success">Editar</a> | <a href='@Url.Action("Index", "Estoque")' class="btn btn-info">Voltar</a>
        </div>
    </div>
</p>
