@model TCCnew.Models.Estoque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDisponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdJogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdJogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
