@model IEnumerable<TCCnew.Models.Estoque>

@{
    ViewBag.Title = "Index";
}

    <h2>Estoque  <img src="https://img.icons8.com/wired/40/000000/move-stock.png" /></h2>

<p>
    <a href='@Url.Action("Create", "Estoque")' class="btn btn-success"> <img src="https://img.icons8.com/wired/15/000000/move-stock.png" />Cadastrar novo estoque</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdJogo)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeDisponivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdJogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            <a href='@Url.Action("Edit", "Estoque", new { id = item.Id})' class="btn btn-success" style=""><img src="https://img.icons8.com/ios-filled/14/000000/pencil-tip.png" />Editar</a> |
            <a href='@Url.Action("Details", "Estoque", new { id = item.Id})' class="btn btn-info" style=""><img src="https://img.icons8.com/material-outlined/14/000000/search.png" />Detalhes</a> |
            <a href='@Url.Action("Delete", "Estoque", new { id = item.Id})' class="btn btn-danger" style=""><img src="https://img.icons8.com/material-outlined/14/000000/delete-trash.png" />Deletar</a>
        </td>
    </tr>
}

</table>
