@model IEnumerable<TCCnew.Models.Jogo>

@{
    ViewBag.Title = "Index";
}

<h2>Página de jogos <img src="https://img.icons8.com/cotton/40/000000/controller.png" /></h2>

<p>
    <a href='@Url.Action("Create", "Jogo")' class="btn btn-success"><img src="https://img.icons8.com/cotton/15/000000/controller.png" />Cadastrar novo jogo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoBarras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoBarras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLancamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            <a href='@Url.Action("Edit", "Jogo", new { id = item.Id})' class="btn btn-success" style=""><img src="https://img.icons8.com/ios-filled/14/000000/pencil-tip.png" />Editar</a> |
            <a href='@Url.Action("Details", "Jogo", new { id = item.Id})' class="btn btn-info" style=""><img src="https://img.icons8.com/material-outlined/14/000000/search.png" />Detalhes</a> |
            <a href='@Url.Action("Delete", "Jogo", new { id = item.Id})' class="btn btn-danger" style=""><img src="https://img.icons8.com/material-outlined/14/000000/delete-trash.png" />Deletar</a>
        </td>
    </tr>
}

</table>
